<section class="text-center">
  <div class="rounded-md border-4 mx-auto max-w-2xl p-8">
    <h1 class="mb-8 text-6xl font-extrabold"><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
    <p class="text-3xl font-bold text-yellow-600">Peace of mind from prototype to production</p>
  </div>
</section>
